<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laxi.dao.LoginTicketMapper">
<!--    <insert id="insertLoginTicket">-->

<!--    </insert>-->
<!--    <update id="updateStatus">-->

<!--    </update>-->
<!--    <select id="selectByTicket" resultType="com.laxi.pojo.LoginTicket">-->


<!--    </select>-->
</mapper>

